html,
body {
    height: 100%
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    background: url(bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


hr {
    border-color: rgba(45, 229, 137, 1);
    border-width: 2px;
    max-width: 170px;
    margin-top: -6px;
}


/*.navbar {
    font-family: 'Montserrat', sans-serif;
}*/


.navhover:hover {
    text-transform: uppercase;
    /*text-decoration: underline; (I can't decide what I prefer atm but this is another option)*/
}


.social-img {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}


.title-element {
    margin-top: 90px;
    font-size: 9rem;
    text-align: center;
    color: rgba(227, 176, 208, 1);
    animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    /*--animate-repeat: 2; (set any number as a multiplier of animate 1 2 or 3 (eg. animate 3 + repeat 4 = 12 animation repeats)*/ 
}


.subtitle-element {
    font-size: 2rem;
    text-align: center;
    color: rgba(244, 152, 86, 1);
    animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    /*--animate-repeat: 2; (set any number as a multiplier of animate 1 2 or 3 (eg. animate 3 + repeat 4 = 12 animation repeats)*/ 
}


.placeholder {
    color: #e2dbdb;
}


.puni {
    width: 160px;
    height: 90px;
}

.box {
    margin-top: 45px;
    padding:15px;
    border-top: rgba(45, 229, 137, 1) solid 5px;
    border-bottom: rgba(45, 229, 137, 1) solid 5px;
    border-radius: 10px;
    text-align: center;
    color: #e2dbdb;
    margin-bottom: 50px;
}

.boxtitle {
    color: rgba(227, 176, 208, 1);
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .title-element {
    font-size: 4rem;
}
}